.App {
  text-align: center;
  color: #01856F;
  font-size: 1.7vw;
  margin: 8% 0;

}
.top{
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:5% 0 6% 0;
}
.from,.to{
  width: 30%;

}
.top select{
  background-color: #dce9e2;
  border-radius: 4px;
  color: #046d5b;
  width: 70%;
  font-size: 90%;
 
}
#input,#output{
  margin: 5% 0;
  width: 70%;
  font-size: 80%;
  border: none;
  border-bottom: 1px solid #00cf99;
}


#input:hover,#output:hover{
  border:1px solid #00cf99; 
}
#input[type=number]:focus{
  border: 1px solid #00cf99 !important;
  
}

#convert{
  width:8%;
  margin-top: 6%;
}

#button{
  width: 10%;
  height: 40%;
  font-size: 1.5vw;
  color: white;
  background-color: #01856F;
  border: none;
  border-radius: 20px;
  padding:6px 10px;
  margin: 0 0 8% 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (max-width:1024px) and (min-width:901px){
  .App{
    margin: 25% 0;
  }
}

@media (max-width:900px){
  .App{
    font-size: 3vw;
  
  }
  .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .from,.to{
    width: 70%;
    font-size: 5vw;
  
  }
  #input,#output{
    font-size: 100%;
  }
  #button{
    width: 30%;
    font-size: 5vw;
  }
  #convert{
    width:15%;
    margin-top: 4%;
    rotate: 90deg;
  }
  #head{
    font-size: 10vw;
  }
}