.App {
  text-align: center;
  color: #22668D;
  font-size: 1.7vw;
}
.top{
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:5% 0 6% 0;
}
.from,.to{
  width: 30%;

}
.top select{
  background-color: #f0f2f3;
  border-radius: 4px;
  color: #1b2b35;
  width: 70%;
  font-size: 90%;
 
}
#input,#output{
  margin: 5% 0;
  width: 70%;
  font-size: 80%;
  border: none;
  border-bottom: 1px solid #FFCC70;
}

#input:hover,#output:hover{
  border:1px solid #FFCC70; 
}

#convert{
  width:8%;
  margin-top: 6%;
}

#button{
  width: 10%;
  height: 40%;
  font-size: 1.5vw;
  color: white;
  background-color: #22668D;
  border: none;
  border-radius: 5px;
  padding: 6px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
