.App {
  text-align: center;
  color: #22668D;
  font-size: 1.7vw;
}
.top{
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:5% 0 6% 0;
}
.from,.to{
  width: 30%;

}
.top select{
  background-color: #f0f2f3;
  border-radius: 4px;
  color: #1b2b35;
  width: 70%;
  font-size: 90%;
 
}
#input,#output{
  margin: 5% 0;
  width: 70%;
  font-size: 80%;
  border: none;
  border-bottom: 1px solid #FFCC70;
}

#input:hover,#output:hover{
  border:1px solid #FFCC70; 
}

#convert{
  width:8%;
  margin-top: 6%;
}

#button{
  width: 10%;
  height: 40%;
  font-size: 1.5vw;
  color: white;
  background-color: #22668D;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin: 0 0 8% 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width:736px){
  .App{
    font-size: 3vw;
  
  }
  .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .from,.to{
    width: 70%;
    font-size: 5vw;
  
  }
  #input,#output{
    font-size: 100%;
  }
  #button{
    width: 30%;
    font-size: 5vw;
  }
  #convert{
    width:15%;
    margin-top: 4%;
    rotate: 90deg;
  }
  #head{
    font-size: 10vw;
  }
}